# MySQL 数据目录（核心，彻底过滤）
volumes/mysql/

# MySQL 临时/日志/证书文件（兜底）
*.sbi
*.ibt
*.dblwr
*.tmp
ib_*
binlog.*
#innodb_redo/
#innodb_temp/
*.pem
*.key
auto.cnf
mysql.sock
*.index
ibtmp*

# Docker 临时文件
*.dockerignore
.docker/
docker-compose.override.yml

# 编辑器临时文件
*.swp
*.swo
*~
.DS_Store

# 日志文件
logs/
*.log
